*{
    margin: 0%;
    padding: 0%;
    width: 100%;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}
header{
    display: flex;
    color: black;
    padding-left: 2em;
    background-color:#6E2C00 ;
}
header figure{
    padding: 1em;
   width: 28%;
}

header nav{
    width: 50%;
    padding-top: 3em;
    display: inline-flex;
}

nav a{
        padding: 0 1em;
}

main{
    padding: 3em;
    text-justify: auto;
    width: 80%;
}

footer{
    background-color: #6E2C00;
}