*{
    margin: 0%;
    padding: 0%;
    width: 100%;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;  
    background-color: #FFFFFF ;  
}

html{
    font-size: 62.5%;
}


.encabezado{
    display: inline-flex;
    width: 100%;
    box-shadow: 2px 2px 5px #999;
}

header figure{
    padding: 2rem 3rem;
    width: 15%;
    flex-wrap: wrap;
} 

header nav{
    width: 80%;
    padding-top: 8rem;
    flex-wrap: wrap;
    padding-left: 25rem;
   }

nav a{
        padding: 0 3rem;
        color: #3498DB;
}

header li{
    display: inline;
}



main{
    padding: 7rem;
    text-justify: auto;
    width: 80%;
    margin: auto;
}
main ul{
    padding: 0.3rem;
    
}
.Title_body{
    color: #3498DB;
    font-size: 2.3rem;
    text-align: center;
}

main p{
    text-justify: auto;
    
}

.Subtitle_body{
color: #3498DB;
}

nav> li{
  background-color: #FAD7A0 ;
    
}


footer{
    background-color: #ffffff;
    position: bottom;
    color: #3498DB;
    margin: auto;
    text-align: center;
    padding-bottom: 3rem;
}

@media (max-width:475px) {
    *{
        font-size: 1.3rem;
    } 
    .encabezado{
        width: 100%;
        height: auto;
        display: block;
        padding-bottom: 1rem;    
                
    }
    header figure{
        margin: auto;
        padding: 0%;
        width: 40%;
        position: relative;
        padding: 1%;
        
        
    }
    header nav{
        margin: auto;
        width: 100%;        
        display: flex;
        position: relative;
        padding-top: 0%;
        padding: 0%;
        padding-left: 0%;
        top: 0%;
        
    }
       nav a{
        font-size: 0%;
        font-size: 1.1rem;
        padding: 0%;
        color: #3498DB;
        padding-left: 2rem;
    }   
    .list-nav{
        
        display: inline;
        text-align: center;
        
       }

       

    main{
        width: 100%;
        padding: 0%;
        
    }

    section{
        margin: 0%;
        padding: 7%;
        width: 100%;
        align-items: center;
        padding-bottom: 1rem;
    }

    li{
        
        
    }

    h1{
        font-size: 1rem;
    }
    p{
        text-align: justify;
    }
    h2{
        font-size: 1.2rem;
    }
    footer{
        
        font-size: 1.0rem;
        width: 90%;
    }

    .p-footer{
        margin: auto;
        text-align: center;
    }
    }

