*{
    margin: 0%;
    padding: 0%;
    width: 100%;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;  
    background-color: #ECF0F1 ;    
}

html{
    font-size: 62.5%;
}


header{
    display: inline-flex;
    padding-left: 0.1rem;
    width:100%;
    
}

header figure{
    padding: 2rem 3rem;
    width: 15%;
} 

header nav{
    width: 80%;
    padding-top: 8rem;
    display: inline-flex;
    padding-left: 25rem;
   }

nav a{
        padding: 1rem 3rem;
        color: #3498DB;
        
}

ul li{
    display: inline;

}

main{
    margin: auto;
    width: 100%; 
}

.container-index{
    display:flex;
    flex-wrap: wrap;  
    position: relative;
    
}

.c-i1, .c-i2, .c-i3{
    min-width: 20rem;
    height: 20rem;
}


.c-i1{
    width: 50%;
    height: 35rem; 
    background: linear-gradient(to bottom right,#1ABC9C, white, #3498DB ); 
    
    
}

.c-i1 p{
    font-family: Georgia, Cambria, Times, "Times New Roman";
    font-size: 4rem;
    position: absolute;
    top: 12rem;
    left: 11rem;
    width: 50%;
    background-color: transparent;
}


.c-i2{
    height: 35rem;
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.c-i2 p{
    margin: auto;
    font-size: 1.8rem;
    padding-top: 12rem;
    text-align: justify;
}

.c-i3{
    margin: auto;
    width: 90%;
    padding-top: 3rem;
    padding-left: 3rem;
}

.c-i3 P{
    text-align: justify;
    font-size: 1.8rem;
}

body p{
    text-justify: auto;
}

footer{
    color: #3498DB;
    background-color: #AED6F1;
    position: fixed;
}